<div class="view active" id="navView1" >
  <header>
    <h1>分类</h1>
  </header>
  <div class="pages">
    <div class="panel active" id="navPage1" data-title="Foobar">
      <ul class="list">
      
       <li> <a href="bulletnews.html" data-ignore="True">&nbsp;&nbsp;公告新闻</a> </li>
       <li> <a href="industrystocknews.html"  data-ignore="True"> &nbsp;&nbsp;主题新闻</a> </li>
       <li> <a href="personstocknews.html" data-ignore="True"> &nbsp;&nbsp;个股资讯</a> </li>
       <li> <a href="piechart.html" data-ignore="True"> &nbsp;&nbsp;数据统计来源</a> </li>
       
          
      </ul>
    </div>
    <div class="panel" id="navPage2" data-title="切换主题">
      <ul class="list">
        <li> <a href="index.html" data-ignore="true">&nbsp;&nbsp;经典主题</a> </li>
        <li> <a href="index.html?ios7" data-ignore="true">&nbsp;&nbsp;苹果主题</a> </li>
        <li> <a href="index.html?android" data-ignore="true">&nbsp;&nbsp;安卓主题</a> </li>
        <li> <a href="index.html?win8" data-ignore="true">&nbsp;&nbsp;Win8主题</a> </li>
        <li> <a href="index.html?bb" data-ignore="true">&nbsp;&nbsp;BB10主题</a> </li>
        <li> <a href="index.html?tizen" data-ignore="true">&nbsp;&nbsp;tizen主题</a> </li>
        <li> <a href="index.html?firefox" data-ignore="true">&nbsp;&nbsp;火狐主题</a> </li>
      </ul>
    </div>s
  </div>
  <footer> <a onclick="uexWidgetOne.exit();" href="" class="icon home" data-ignore="True" data-transition="pop">退出程序</a> <a href="#navPage2" class="icon html5">切换主题</a> </footer>
</div>
